---
const { pillar } = Astro.props;
---
<a href={`/pillars/${pillar.slug}`} class="block p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{pillar.title}</h5>
    <p class="font-normal text-gray-700">{pillar.excerpt}</p>
</a>
